body {
    background:rgb(251, 233, 244);
    color:mediumvioletred;
    font-family:serif;
}

p {
    background:palevioletred;
    color:rgb(255, 255, 189);
    border: 5px solid; 
    padding:10px;
    margin:30px;
}

p:hover {
    background:mediumvioletred;
}

.banner {
    text-align:center;
    font-size: 170%;
    border-style:dashed;
}

a{ 
    color:rgb(114, 23, 175);
    font-style:italic;
    font-weight: bold;
}

a:hover {
    color:lemonchiffon;
}

